version: '3.7'

services:
  tripapi:
    image: decahthuk/tripapi:1.0.0
    ports:
      - '8080:8080'
    restart: on-failure
    environment:
      SPRING_DATASOURCE_USERNAME: {{ env.DATASOURCE_USERNAME }}
      SPRING_DATASOURCE_PASSWORD: {{ env.SPRING_DATASOURCE_PASSWORD }}
      SPRING_DATASOURCE_URL: {{ env.SPRING_DATASOURCE_URL }}
      JWT_SECRET_ACCESS: {{ env.JWT_SECRET_ACCESS }}
